// Заголовки, загальні БЕМ блоки та інше...
//  <div class="title">
// 		<div class="title__label">MY WORKS</div>
// 		<h2 class="title__value">Featured Portfolios
// 		</h2>
// 	</div>
//====================================================================================================
.page {
  &__main {
  }
}
//====================================================================================================
.title {
  &__label {
    text-transform: uppercase;
    position: relative;
    color: $greyColor;
    line-height: 200%; /* 24/12 */
    font-size: toRem(12);
    letter-spacing: em(7.5, 12);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: toRem(16);
    &:not(:last-child) {
      margin-bottom: toRem(9);
    }
    &::before {
      content: "";
      width: toRem(16);
      height: toRem(2);
      background-color: #d9d9d9;
    }
  }
  &__value {
    @include adaptiveValue("font-size", 36, 28);
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    span {
      color: $purpleColor;
    }
  }
  &_big {
    @include adaptiveValue("font-size", 44, 36);
    line-height: 125%; /* 55/44 */
  }
}
//====================================================================================================
.text {
  line-height: 200%; /* 32/16 */
  p {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }
}
//====================================================================================================
.social {
  display: flex;
  row-gap: toRem(5);
  @include adaptiveValue("column-gap", 32, 25);
  flex-wrap: wrap;
  align-items: center;

  &__link {
    font-size: toRem(22);
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
}
//====================================================================================================
.category-link {
  display: inline-block;
  padding: toRem(4) toRem(8);
  font-size: toRem(12);
  font-weight: 500;
  border-radius: toRem(4);
  border: 1px solid #f1f1f1;
  color: $greyColor;
  line-height: 125%; /* 15/12 */
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: $purpleColor;
      border: toRem(1) solid $purpleColor;
    }
  }
}
//====================================================================================================
.date {
  padding: toRem(4) toRem(8);
  background-color: #fbfbfb;
  font-size: toRem(12);
  line-height: 125%; /* 15/12 */
  border-radius: toRem(4);
}
